name: Validação de Imagens de Container

on:
  workflow_dispatch: 
    inputs: #Criar o imput para passar a imagem
        terraform:      #nome do meu imput
          description: pipeline manual de terraform #descricao
          type: choice
          options:
          - init
          - plan
          - apply
          - destroy


jobs:
  terraform_init:
    runs-on: ubuntu-latest
    env:
      GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
    
    steps:
       
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        if: github.event.inputs.action == 'plan' || github.event.inputs.action == 'apply'
        run: terraform plan

      - name: Terraform Apply
        if: github.event.inputs.action == 'apply'
        run: terraform apply -auto-approve

      - name: Terraform Destroy
        if: github.event.inputs.action == 'destroy'
        run: terraform destroy -auto-approve  


     
