
# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# Node
node_modules/

# OS
.DS_Store

# Docs e módulos (já no repo principal)
terraform-modules/
docs/
app/
Makefile
terraform.tfvars.example
deployment.yaml.example
ARCHITECTURE.md
