apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: prometheus
  namespace: default
spec:
  parentRefs:
  - name: prometheus
  #hostnames:
  #- "app.prometheus"
  rules:
  - matches:
     - path:
        type: PathPrefix
        value: "/prometheus"    
    backendRefs:
    - name: kube-prometheus-stack-prometheus
      port: 9090